*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.paRa{
  font-size: larger;
  color: black;
}
.main-div{
  height: 90vh;
  width: 100%;
  background-color: bisque;
  border: 1px solid aquamarine;
}
footer{
  width: 100%;
  height: 5%;
  padding-top: 20px;
}